<h1 id="tableLabel">Pandemic</h1>

<p *ngIf="!pandemicState"><em>Loading...</em></p>

<ul *ngIf="pandemicState">
  <li>Turns made : {{ pandemicState.turnsPlayed }}</li>
  <li>Outbreak count : {{ pandemicState.outbreakCount }}</li>
  <li>Infection rate marker: {{ pandemicState.infectionRateMarker }}</li>
</ul>

<button *ngIf="pandemicState" (click)="play()">Play Again</button>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="pandemicState">
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{city("StPetersburg")}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>{{city("SanFrancisco")}}</td>
        <td>{{city("Chicago")}}</td>
        <td>{{city("Montreal")}}</td>
        <td>{{city("NewYork")}}</td>
        <td>{{city("London")}}</td>
        <td>{{city("Essen")}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>{{city("Atlanta")}}</td>
        <td></td>
        <td>{{city("Washington")}}</td>
        <td>{{city("Madrid")}}</td>
        <td>{{city("Paris")}}</td>
        <td>{{city("Istanbul")}}</td>
        <td>{{city("Moscow")}}</td>
        <td>{{city("Tehran")}}</td>
        <td></td>
        <td></td>
        <td>{{city("Beijing")}}</td>
        <td>{{city("Seoul")}}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{city("LosAngeles")}}</td>
        <td>{{city("MexicoCity")}}</td>
        <td></td>
        <td>{{city("Miami")}}</td>
        <td></td>
        <td>{{city("Algiers")}}</td>
        <td>{{city("Cairo")}}</td>
        <td>{{city("Baghdad")}}</td>
        <td>{{city("Karachi")}}</td>
        <td>{{city("Delhi")}}</td>
        <td>{{city("Kolkata")}}</td>
        <td>{{city("Shanghai")}}</td>
        <td></td>
        <td>{{city("Tokyo")}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>{{city("Bogota")}}</td>
        <td></td>
        <td>{{city("Lagos")}}</td>
        <td>{{city("Khartoum")}}</td>
        <td>{{city("Riyadh")}}</td>
        <td>{{city("Mumbai")}}</td>
        <td>{{city("Chennai")}}</td>
        <td>{{city("Bangkok")}}</td>
        <td>{{city("HongKong")}}</td>
        <td>{{city("Taipei")}}</td>
        <td>{{city("Osaka")}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>{{city("Lima")}}</td>
        <td>{{city("SaoPaulo")}}</td>
        <td></td>
        <td>{{city("Kinshasa")}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{city("HoChiMinhCity")}}</td>
        <td>{{city("Manila")}}</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>{{city("Santiago")}}</td>
        <td>{{city("BuenosAires")}}</td>
        <td></td>
        <td>{{city("Johannesburg")}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{city("Jakarta")}}</td>
        <td></td>
        <td>{{city("Sydney")}}</td>
        <td></td>
      </tr>
    </tbody>
</table>