<h1 id="tableLabel">Pandemic</h1>

<p *ngIf="!pandemicState"><em>Loading...</em></p>

<ul *ngIf="pandemicState">
  <li>Turns made : {{ pandemicState.turnsPlayed }}</li>
  <li>Outbreak count : {{ pandemicState.outbreakCount }}</li>
  <li>Infection rate marker: {{ pandemicState.infectionRateMarker }}</li>
</ul>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="pandemicState">
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>StPetersburg</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>SanFrancisco</td>
        <td>Chicago</td>
        <td>Montreal</td>
        <td>New York</td>
        <td>London</td>
        <td>Essen</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Atlanta</td>
        <td></td>
        <td>Washington</td>
        <td>Madrid</td>
        <td>Paris</td>
        <td>Istanbul</td>
        <td>Moscow</td>
        <td>Tehran</td>
        <td></td>
        <td></td>
        <td>Beijing</td>
        <td>Seoul</td>
        <td></td>
      </tr>
      <tr>
        <td>LosAngeles</td>
        <td>MexicoCity</td>
        <td></td>
        <td>Miami</td>
        <td></td>
        <td>Algiers</td>
        <td>Cairo</td>
        <td>Baghdad</td>
        <td>Karachi</td>
        <td>Delhi</td>
        <td>Kolkata</td>
        <td>Shanghai</td>
        <td></td>
        <td>Tokyo</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Bogota</td>
        <td></td>
        <td>Lagos</td>
        <td>Khartoum</td>
        <td>Riyadh</td>
        <td>Mumbai</td>
        <td>Chennai</td>
        <td>Bangkok</td>
        <td>HongKong</td>
        <td>Taipei</td>
        <td>Osaka</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Lima</td>
        <td>SaoPaulo</td>
        <td></td>
        <td>Kinshasa</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>HoChiMinhCity</td>
        <td>Manila</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Santiago</td>
        <td>BuenosAires</td>
        <td></td>
        <td>Johannesburg</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Jakarta</td>
        <td></td>
        <td>Sydney</td>
        <td></td>
      </tr>
    </tbody>
</table>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="pandemicState">
  <thead>
  <tr>
    <th>City Name</th>
    <th>Disease Cube Count</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cityNode of pandemicState.cities">
    <td>{{ cityNode.city }}</td>
    <td>{{ cityNode.diseaseCubeCount }}</td>
  </tr>
  </tbody>
</table>

