@page
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

@*https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr?view=aspnetcore-5.0&tabs=visual-studio*@
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/gamechat.js"></script>